* {
  margin: 0;
  padding: 0;
}

@media all and (min-width: 560px) {
  @import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

  svg {
    font-family: "Russo One", sans-serif;
    width: 100%;
    height: 100%;
  }

  svg text {
    animation: stroke 5s infinite alternate;
    stroke-width: 2;
    stroke: #365FA0;
    font-size: 100px;
  }

  @keyframes stroke {
    0% {
      fill: rgba(72, 138, 204, 0);
      stroke: rgb(204, 248, 7);
      stroke-dashoffset: 25%;
      stroke-dasharray: 0 50%;
      stroke-width: 2;
    }

    70% {
      fill: rgba(72, 138, 204, 0);
      stroke: rgb(54, 160, 77);
    }

    80% {
      fill: rgba(72, 138, 204, 0);
      stroke: rgb(190, 207, 34);
      stroke-width: 3;
    }

    100% {
      fill: rgb(8, 122, 236);
      stroke: rgba(54, 95, 160, 0);
      stroke-dashoffset: -25%;
      stroke-dasharray: 50% 0;
      stroke-width: 0;
    }
  }

  .wrapper {
    background-color: rgb(8, 8, 8);
  }


/*---------------------------------------------*/



  body {
    background-color: red;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }




  
  #menu a {
    text-decoration: none;
    padding: 15px;
    background: red;
    color:  #ffcc00;
    margin-right: 30px;
    margin-left: 30px;
    border-radius: 10%;
    text-align: center;
    


  }

  #menu a:hover {
    color: #0c0c0c;
  }

  .container {

    display: flex;
    gap: 30px;
    padding: 0px;
    justify-content: center;
    flex-flow: wrap;

  }

  .logo {
    height: 200px;
    width: 200px;
    border: 1px solid rgb(247, 203, 6);
    border-radius: 100px;



  }

  

  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .item img {
    width: 250px;
    height: 200px;
    border: 5px solid rgb(247, 203, 6);
    border-radius: 10px;
  }

  .item p {
    margin-top: 10px;
    font-size: 2rem;
    color: #333;
  }

  .whats {
    position: fixed;
    bottom: 0;
    right: 0;
    
    

  }
/*----------------------------------------------------------*/
  .footer {
    
    background-color: #333;
    /* Cor de fundo do rodapé */
    color: #050505;
    /* Cor do texto */
    padding: 30px 0;
    /* Espaçamento interno */
    text-align: center;
    /* Centraliza o conteúdo */
    font-size: 0.7rem;
    /* Tamanho da fonte menor */

    
  }

  

  .footer-links {
    list-style: none;
   
    margin: 10px ;

    display: flex;

   justify-content: center;
    /* Alinha os links horizontalmente */
    gap: 40px;
    /* Espaçamento entre os links */
  }

 

  .footer-links a {
    color: #ffcc00;
    /* Cor dos links */
    text-decoration: none;
    /* Remove o sublinhado */
    transition: color 0.3s ease;
    /* Efeito suave na mudança de cor */
  }

  .footer-links a:hover {
    color: #0c0c0c;
    /* Muda para branco ao passar o mouse */
  }
}